/* VARIÁVEIS */
:root{
    --Branco-cor: #fff;
    --BegeClaro-cor: #fffaf4;
    --Bege-cor: #ffdeac;
    --Amarelo-cor: #ffbd59;
    --AzulClaro-cor: #aacaf4;
    --AzulEscuro-cor: #11315b;
    --Cinza-cor: #869aaf;
}
/*-------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------*/
section:target{
    scroll-margin-top: 100px;
}
/*-------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------*/
/* PRINCIPAL: HTML, BODY */
html{
    width: 100%;
    min-height: 100%;
    scroll-snap-stop: -100px;
}
body{
    margin-top: 100px;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--Branco-cor);
}
/*-------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------*/
/* reset */
ul{
    margin: 0;
    padding: 0;
}
/*-------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------*/
/* ESCRITA */
h1{
    font-family: 'League Spartan', sans-serif;
    font-size: 3em;
    padding: 0.5%;
    margin: 0;
}
h2, a, button{
    font-family: 'Comfortaa', cursive;
    font-size: 1em;
    color: black;
    text-decoration: none;
    margin: 0;
}
h3{
    font-family: 'Comfortaa', cursive;
    color: black;
    text-decoration: none;
    margin: 0;
    font-size: 1em;
}
p{
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
    margin-bottom: 0;
    text-indent: 15px;
    color: black;
    font-size: 1em;
}
/*-------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------*/
/* MENU */
.navbar_ {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--AzulClaro-cor);
    color: #fff;
    height: 100px;
}
.logo{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
}
.img_romaiap{
    width: 60%;
    margin-left: 2%;
}
.menu_{
    display: flex;
    font-size: 18px;
    width: 100%;
    justify-content: flex-end;
}
.menu_ li:hover {
    background-color: var(--AzulClaro-cor);
    border-radius: 5px;
    transition: 0.3s ease;
}
.menu_ li {
    padding: 0px 15px;
}
.nav-links_{
    width: 65%;
}
.nav-links_ li{
    display: inline;
    font-size: 25px;
}
.nav-links_ ul{
    padding: 1%;
    margin: 0%;
}
.nav-links_ a{
    border-radius: 100%;
    padding: 1%;
    transition: .5s;
}
.nav-links_ button{
    background-color: var(--AzulClaro-cor);
    border: 0;
    border-color: 0;
}
.nav-links_ button:hover{
    color:var(--Amarelo-cor);
    font-size: 1.2em;
}
input[type=checkbox] {
    display: none;
} 
.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}
.header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 6;
    height: 35%;
}
/*-------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------*/
/* CONTAINER */
.conteudo{
    background: linear-gradient(rgba(86, 108, 145, 0.9), rgba(62, 75, 99, 0.9)), url(../img/estoque.png) fixed center center;
    background-size: cover;
    padding: 2% 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.subtitulo{
    margin-bottom: 0;
}
/*-------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------*/
/* CAROUSEL */
.carousel{
    width: 100%;
    /*1870px*/
    margin-top: 0;
    padding-top: 0;
}
/*-------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------*/
/* SOBRE ROMAIAP */
.sobre{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.romaiap{
    width: 100%;
    height: auto;
    padding: 1%;
}
.sobre2{
    display: flex;
    width: 100%;
    background-color: var(--Branco-cor);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.romaiap h1{
    text-align: center;
    padding: 0;
}
.romaiap h2{
    font-size: 1.5em;
    text-align: left;
    padding-top: 1%;
    padding-bottom: 0.2%;
}

.t_sobre{
    padding-bottom: 2%;
    color: var(--Branco-cor);
}
.rp_corpo_p{
    width: 90%;
}
.rp_corpo_p p{
    color: var(--Branco-cor);
}
.MVV{
    width: 90%;
    display: flex;
    margin: 1.5% 0;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.card_{
    padding: 1%;
    width: 350px;
    height: 400px;
    perspective: 600px;
}
.card_content{
    width: 100%;
    height: 100%;
    box-shadow:  0 0 15px rgba(0,0,0,0.1);
    transition: 1s;
    transform-style: preserve-3d;
    border-radius: 30px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 90);
}
.card_:hover .card_content{
    transform: rotateY(180deg);
    transition: 0.5s;
}
.frente, .atras{
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--AzulClaro-cor);
    color: var(--Branco-cor);
    text-align: center;
    border-radius: 5px;
    backface-visibility: hidden;
    border-radius: 30px;
}
.atras{
    background: var(--AzulClaro-cor);
    color: var(--Branco-cor);
    transform: rotateY(180deg);
}
.card_titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
    padding: 1%;
    font-size: 2.7em;
    border-bottom: solid 3px;
    border-color: black;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color: var(--Amarelo-cor);
}
.card_ h3{
    padding: 0;
    margin: 0;
}
.card_ h4{
    padding: 0;
    margin: 0;
    color: black;
}
.card_corpo{
    position: absolute;
    width: 100%;
    height: 80%;
    font-size: 1em;
    padding: 3%;
    text-align: center;
    border-radius: 30px;
}
.card_corpo p{
    text-align: center;
    padding: 0;
    margin: 0;
    text-decoration: 0;
}
.frente_corpo{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.oqe_titulo{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.oqe_corpo{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 15%;
}
/*-------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------*/
/* QUEM SOMOS */
.rp_corpo{
    width: 100%;
    height: auto;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.img_leo{
    width: 13%;
    height: auto;
    float: right;
    margin: 0 2%;
    border: 2px solid;
    border-color: rgba(0, 0, 0, 0.70);
}
.quem{
    width: 90%;
    background-color: var(--AzulClaro-cor);
    margin-bottom: 1%;
    padding: 1%;
    border-top-left-radius: 60px;
    border-bottom-right-radius: 60px;
    box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.60);
}
.t_qm{
    width: 100%;
    text-align: center;
}
/*-------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------*/
/* LINHA DO TEMPO */
.linha_do_tempo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--Branco-cor);
    margin: 2% 0;
}
.titulo_linha{
    width: 100%;
    text-align: center;
    margin-bottom: 1%;
}
.main-container{
    background-color: var(--AzulEscuro-cor);
    border-radius: 35px;
    position: relative;
    width: 90%;
    margin-left: 2%;
    margin-right: 2%;
    padding: 5%;
}
/*creating line for timeline*/
.main-container::after{
    content: '';
    position: absolute;
    width: 1%;
    background-color: var(--Bege-cor);
    top:0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}
/*Adjusting box of all content*/
.text-wrapper{
    padding-right: 4%;
    padding-left: 4%;
    position: relative;
    width: 51.1%;
    box-sizing: border-box;
}
.text-wrapper::after{
    content: '';
    position: absolute;
    width: 5%;
    height: 45%;
    right: -1%;
    background-color:var(--Amarelo-cor);
    top: 10%;
    border-radius: 50%;
    z-index: 1;
    margin-top: 1%;
}
/*for left events*/
.left{
    left: 0;
}
/*for right events*/
.right{
    left: 50.1%;
}
.right::after{
    left:-2%;
}
/*------------------------*/
/*------------------------*/
/* Config geral do content/msg */
.content{
    padding: 1%;
    background-color: var(--Amarelo-cor);
    border-radius: 15px;
    text-align: center;
    margin-bottom: 1%;
}
.content p,h3{
    padding: 1%;
}
.msg{
    border-radius: 15px;
}
.msg p{
    padding: 2%;
}
.msg h3{
    padding: 2%;
}
.mensagem_header{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: var(--Cinza-cor);
    text-align: center;
    height: auto;
}
.mensagem_header h3{
    padding: 0.5%;
}
.mensagem_body{
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

/* Mensagem 1 + Animação */
.mensagem1{
    display: none;
    width: 38.5%;
    position: absolute;
    margin-top: -10%;
    margin-left: 48%;
    background-color: #aacaf4;
    z-index: 5;
}
[data-animation='move1'] {
    animation: move1 2s;
} 
@keyframes move1 {
    0% {
        margin-left: 46%;
    }
    100% {
        margin-left: 48%;
    }
}

/* Mensagem 2 + Animação */
.mensagem2{
    display: none;
    width: 38.5%;
    position: absolute;
    margin-top: -8%;
    margin-left: 3.4%;
    background-color: #aacaf4;
    z-index: 5;
}
[data-animation='move2'] {
    animation: move2 2s;
} 
@keyframes move2 {
    0%{
        margin-left: 5%;
    }
    100%{
        margin-left: 3.4%;
    }
}

/* Mensagem 3 + Animação */
.mensagem3{
    display: none;
    width: 38.5%;
    position: absolute;
    margin-top: -8%;
    margin-left: 48%;
    background-color: #aacaf4;
    z-index: 5;
}
[data-animation='move3'] {
    animation: move3 2s;
} 
@keyframes move3 {
    0% {
        margin-left: 46%;
    }
    100% {
        margin-left: 48%;
    }
}

/* Mensagem 4 + Animação */
.mensagem4{
    display: none;
    width: 38.5%;
    position: absolute;
    margin-top: -8%;
    margin-left: 3.4%;
    background-color: #aacaf4;
    z-index: 5;
}
[data-animation='move4'] {
    animation: move4 2s;
} 
@keyframes move4 {
    0%{
        margin-left: 5%;
    }
    100%{
        margin-left: 3.4%;
    }
}

/* Mensagem 5 + Animação */
.mensagem5{
    display: none;
    width: 38.5%;
    position: absolute;
    margin-top: -11%;
    margin-left: 48%;
    background-color: #aacaf4;
    z-index: 5;
}
[data-animation='move5'] {
    animation: move5 2s;
} 
@keyframes move5 {
    0% {
        margin-left: 46%;
    }
    100% {
        margin-left: 48%;
    }
}

/* Mensagem 6 + Animação */
.mensagem6{
    display: none;
    width: 38.5%;
    position: absolute;
    margin-top: -13%;
    margin-left: 3.4%;
    background-color: #aacaf4;
    z-index: 5;
}
[data-animation='move6'] {
    animation: move6 2s;
} 
@keyframes move6 {
    0%{
        margin-left: 5%;
    }
    100%{
        margin-left: 3.4%;
    }
}

/* Mensagem 7 + Animação */
.mensagem7{
    display: none;
    width: 38.5%;
    position: absolute;
    margin-top: -11%;
    margin-left: 48%;
    background-color: #aacaf4;
    z-index: 5;
    margin-bottom: 5%;
}
[data-animation='move7'] {
    animation: move7 2s;
} 
@keyframes move7 {
    0% {
        margin-left: 46%;
    }
    100% {
        margin-left: 48%;
    }
}
/*-------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------*/
/* CONTATO */
.contato{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2%;
    background-color: var(--BegeClaro-cor);
}
.corpo_cont{
    display: flex;
}
.imgs{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.contato h1{
    font-size: 3em;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 0;
}
.contato h2{
    font-size: 1.5em;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
}
.botao_cont{
    background-color: var(--AzulEscuro-cor);
    padding: 1% 4%;
    border-radius: 25px;
    box-shadow: 0px 0px 15px rgba(56, 56, 56, 0.9);
    transition: .5s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cont_botao{
    display: flex;
    justify-content: center;
}
.botao_cont{
    color: var(--Branco-cor);
}
.botao_cont:hover{
    background-color: var(--Amarelo-cor);
}
.logo_1{
    width: 50%;
}
.sociais{
    width: 50%;
    padding-top: 0%;
}
.btn_cont{
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.icons{
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.whats{
    width: 15%;
    margin-right: 1%;
}
.email{
    width: 15%;
    margin-right: 1%;
}
.linkedin{
    width: 15%;
    margin-right: 1%;
}
.instagram{
    width: 15%;
}
.icons_nav{
    width: 50%;
    text-align: center;
}
.icons_nav a{
    margin: auto;
}
.icon{
    margin: 0 2%;
    transition-duration: 0.25;
}
.icon:hover{
    animation: shake 0.25s;
}
@keyframes shake{
    10%{
        transform: rotate(15deg);
    }
    20%{
        transform: rotate(-15deg);
    }
    30%{
        transform: rotate(15deg);
    }
    40%{
        transform: rotate(-15deg);
    }
}
/*-------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------*/
/* POPAP */
._toast{
    position: fixed;
    bottom: 2%;
    right: 2%;
    z-index: 5;
    padding: 1%;
    width: 12%;
    background-color: var(--Amarelo-cor);
    border-radius: 10px;
    box-shadow: 0px 0px 15px var(--AzulEscuro-cor);
    display: block;
}
.txt{
    text-align: center;
    padding-top: 9%;
    padding-bottom: 10%;
}
.txt p{
    text-align: center;
    text-align: 0;
    text-indent: 0;
}
._toast ul{
    padding: 0%;
    width: 100%;
}
._toast li{
    padding: 0%;
}

.btn-close{
    float: right;
    float: top;
    padding: 1%;
}
.botoes{
    margin-bottom: 0;
    padding-bottom: 0;
}
.botoes button{
    background-color: var(--AzulEscuro-cor);
    border-radius: 10px;
}
.btn_whats{
    padding: 3%;
    font-size: 1.3em;
    transition: .5s;
    color: var(--Branco-cor);
}
.btn_whats:hover{
    background-color: var(--Cinza-cor);
}
.img_whats{
    width: 23%;
    margin-right: 5%;
}
/*-------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------*/
/* FOOTER */
footer{
    background-color: var(--AzulClaro-cor);
    padding: 0.8%;
}
.creditos{
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.creditos p{
    text-align: center;
    font-size: 0.8em;
    color: black;
}

.creditos a{
    color: var(--AzulEscuro-cor);
    font-size: 0.9em;
    text-decoration: none;
}


/*-------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------*/


/* RESPONSIVIDADE DO SITE */
/* RESPONSIVIDADE DO SITE // MAIN-WIDTH */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 

}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}
/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {

}

/* RESPONSIVIDADE DO SITE // MAX-WIDTH */

/* `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

}
/* `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {

}
/* `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {

}
/* `xl` applies to large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {

}
/* `xxl` applies to x-large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {

}


/* RESPONSIVIDADE DO SITE // RESPONSIVE LAYOUT */
@media screen and (max-width:767px){
    /* fonts */
    h1{
        font-size: 2em;
    }
    h2, a, button{
        font-size: 0.8em;
    }
    h3{
        font-size: 0.7em;
    }
    p{
        font-size: 0.8em;
    }
    /*-------------------------------------*/
    /*-------------------------------------*/
    body{
        margin-top: 60px;
    }
    .navbar_{
        height: 60px;
    }
    .img_romaiap{
        width: 80%;
    }
    .menu_ {
        display:none;
        position: absolute;
        right: 0;
        left: 0;
        text-align: center;
        background-color:   var(--AzulClaro-cor);
        margin-top: 1.6%;
     } 
    .menu_ li:hover {
        display: inline-block;
        background-color: var(--AzulClaro-cor);
        transition: 0.3s ease;
    }
    .nav-links_ li{
        display: flex;
        justify-content: center;
    }
    input[type=checkbox]:checked ~ .menu_ {
        display: block;
    }
    .hamburger {
        display: flex;
        margin-right: 5%;
        justify-content: flex-end;
    }
    .prazos p{
        margin-right: 1%;
    }
    ._toast{
        width: 34%;
    }
    .MVV{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .card_{
        height: 250px;
    }
    .img_leo{
        width: 30%;
    }
    .logo_1{
        width: 70%;
    }
    .icons_nav{
        width: 80%;
    }
    .creditos p{
        font-size: 0.7em;
    }
    .botao_cont{
        padding: 3% 7%;
        font-size: 1.2em;
        margin-bottom: 3%;
    }
    .main-container{
        padding: 5% 0%;
    }
    .text-wrapper{
        padding-right: 6%;
    }
    .right{
        margin-left: -2%;
        padding-left: 6%;
        padding-right: 2%;
    }
    .left{
        padding-left: 3%;
    }
    .text-wrapper::after{
        width: 10%;
        height: 35%;
        right: -2%;
        margin-top: 5%;
    }
    .text_::after{
        height: 53%;
        width: 10%;
        margin-top: 2%;
    }
    .right::after{
        width: 10%;
        height: 40%;
    }
    .text_1::after{
        width: 10%;
        height: 40%;
    }
    .msg{
        width: 90%;
        margin-left: 5%;
    }
    /* MENSAGEM 1 */
    .mensagem1{
        margin-top: 1%;
    }
    [data-animation='move1'] {
        animation: move1 2s;
    } 
    @keyframes move1 {
        0% {
            margin-left: 0%;
        }
        100% {
            margin-left: 5%;
        }
    }
    /* MENSAGEM 2 */
    .mensagem2{
        margin-top: 1%;
    }
    [data-animation='move2'] {
        animation: move2 2s;
    } 
    @keyframes move2 {
        0% {
            margin-left: 0%;
        }
        100% {
            margin-left: 5%;
        }
    }
    /* MENSAGEM 3 */
    .mensagem3{
        margin-top: 1%;
    }
    [data-animation='move3'] {
        animation: move3 2s;
    } 
    @keyframes move3 {
        0% {
            margin-left: 0%;
        }
        100% {
            margin-left: 5%;
        }
    }
    /* MENSAGEM 4 */
    .mensagem4{
        margin-top: 1%;
    }
    [data-animation='move4'] {
        animation: move4 2s;
    } 
    @keyframes move4 {
        0% {
            margin-left: 0%;
        }
        100% {
            margin-left: 5%;
        }
    }
    /* MENSAGEM 5 */
    .mensagem5{
        margin-top: -67%;
    }
    [data-animation='move5'] {
        animation: move5 2s;
    } 
    @keyframes move5 {
        0% {
            margin-left: 0%;
        }
        100% {
            margin-left: 5%;
        }
    }
    /* MENSAGEM 6 */
    .mensagem6{
        margin-top: -73.5%;
    }
    [data-animation='move6'] {
        animation: move6 2s;
    } 
    @keyframes move6 {
        0% {
            margin-left: 0%;
        }
        100% {
            margin-left: 5%;
        }
    }
    /* MENSAGEM 7 */
    .mensagem7{
        margin-top: -58%;
    }
    [data-animation='move7'] {
        animation: move7 2s;
    } 
    @keyframes move7 {
        0% {
            margin-left: 0%;
        }
        100% {
            margin-left: 5%;
        }
    }
    /*----------*/
    .linha_do_tempo p{
        font-size: 0.7em;
    }
}
/*-----------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/
/* RESPONSIVIDADE DO SITE // RESPONSIVE LAYOUT // entre 576px a 767px */
@media screen and (min-width: 767px) and (max-width: 1023px){
    body{
        margin-top: 70px;
    }
    .navbar_{
        height: 70px;
    }
    ._toast{
        width: 22%;
    }
    .quem{
        padding: 2%;
    }
    .img_leo{
        width: 25%;
    }
    .main-container{
        padding: 5% 0%;
    }
    .text-wrapper{
        padding-right: 6%;
    }
    .right{
        margin-left: -1.1%;
        padding-left: 6%;
        padding-right: 2%;
    }
    .left{
        padding-left: 3%;
    }
    .text-wrapper::after{
        width: 8%;
        height: 50%;
        right: -2%;
        margin-top: 5%;
    }
    .text_::after{
        height: 55%;
        width: 8%;
        margin-top: 2%;
    }
    .right::after{
        width: 8%;
        height: 40%;
        margin-top: 3%;
    }
    .text_1::after{
        width: 8%;
        height: 40%;
    }
    .msg{
        width: 90%;
        margin-left: 5%;
    }
    /* MENSAGEM 1 */
    .mensagem1{
        margin-top: 1%;
    }
    [data-animation='move1'] {
        animation: move1 2s;
    } 
    @keyframes move1 {
        0% {
            margin-left: 0%;
        }
        100% {
            margin-left: 5%;
        }
    }
    /* MENSAGEM 2 */
    .mensagem2{
        margin-top: 1%;
    }
    [data-animation='move2'] {
        animation: move2 2s;
    } 
    @keyframes move2 {
        0% {
            margin-left: 0%;
        }
        100% {
            margin-left: 5%;
        }
    }
    /* MENSAGEM 3 */
    .mensagem3{
        margin-top: 1%;
    }
    [data-animation='move3'] {
        animation: move3 2s;
    } 
    @keyframes move3 {
        0% {
            margin-left: 0%;
        }
        100% {
            margin-left: 5%;
        }
    }
    /* MENSAGEM 4 */
    .mensagem4{
        margin-top: 1%;
    }
    [data-animation='move4'] {
        animation: move4 2s;
    } 
    @keyframes move4 {
        0% {
            margin-left: 0%;
        }
        100% {
            margin-left: 5%;
        }
    }
    /* MENSAGEM 5 */
    .mensagem5{
        margin-top: -53%;
    }
    [data-animation='move5'] {
        animation: move5 2s;
    } 
    @keyframes move5 {
        0% {
            margin-left: 0%;
        }
        100% {
            margin-left: 5%;
        }
    }
    /* MENSAGEM 6 */
    .mensagem6{
        margin-top: -59%;
    }
    [data-animation='move6'] {
        animation: move6 2s;
    } 
    @keyframes move6 {
        0% {
            margin-left: 0%;
        }
        100% {
            margin-left: 5%;
        }
    }
    /* MENSAGEM 7 */
    .mensagem7{
        margin-top: -46%;
    }
    [data-animation='move7'] {
        animation: move7 2s;
    } 
    @keyframes move7 {
        0% {
            margin-left: 0%;
        }
        100% {
            margin-left: 5%;
        }
    }

}
/*-----------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/
@media screen and (min-width: 1024px){
    ._toast{
        width: 13%;
    }
}

